{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
    <h1>{% trans "Submitted Training Requests" %}</h1>
      <p>{% trans "This is the list of training requests that you have submitted. Click on the request name to view more information." %}</p>
      <p>{% trans "Note: You can only modify requests that have not yet been reviewed." %}</p><br>
    {% if submitted_requests %}
        <h4>{% trans "Active requests that you can still modify" %}</h4><br>
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th scope="col">{% trans "Name of Course" %}</th>
                <th scope="col">{% trans "Description" %}</th>
                <th scope="col">{% trans "Cost" %}</th>
                <th scope="col">{% trans "Date Submitted" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Download PDF" %}</th>
              <tbody class="table-group-divider"></tbody>
              </tr>
            </thead>
            <tbody>
              {% for request in submitted_requests %}
              <tr>
                <td><a href="{{request.pk}}">{{ request.course.course_title}} </a></td>
                <td>{{ request.course.description }}</td>
                <td>{{ request.course.cost }}</td>
                <td>{{ request.date_submitted }}</td>
                <td>{% trans request.status %}</td>
                <td><button type="button" class="btn-lg btn-primary" onclick="window.location.href='{% url 'training_request:download' %}?pk={{ request.pk }}'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg> 
                  {% trans "Download form" %}
                  </button></td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
    {% endif %}
    <br>
    {% if prev_submitted_requests %}
      <h4>{% trans "Previous requests" %}</h4>
        <table class="table table-hover table-bordered">
          <thead>
              <tr>
                <th scope="col">{% trans "Course Name" %}</th>
                <th scope="col">{% trans "Description" %}</th>
                <th scope="col">{% trans "Cost" %}</th>
                <th scope="col">{% trans "Date Submitted" %}</th>
                <th scope="col">{% trans "Status" %}</th>
              <tbody class="table-group-divider"></tbody>
              </tr>
            </thead>
            <tbody>
              {% for request in prev_submitted_requests %}
              <tr>
                <td><a href="{{request.pk}}">{{ request.course.title}} </a></td>
                <td>{{ request.course.description }}</td>
                <td>{{ request.course.cost }}</td>
                <td>{{ request.date_submitted }}</td>
               <td>{% trans request.status %}</td> 
            </tr>
              {% endfor %}
          </tbody>
      </table>
    {% endif %}
    {% if not submitted_requests and not prev_submitted_requests %}
      <p>{% trans "You have no submitted requests." %}</p>
    {% endif %}
    <button type="button" class="btn btn-primary" style="max-w name="home" onclick="location.href='{% url 'home' %}'">{% trans "Cancel" %}</button>
{% endblock %}