{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Training Form Request" %}{% endblock %}

{% block content %}
<h1>{% trans "Training Request Form" %}</h1>
<form method="post" novalidate>
        {% csrf_token %}
        <p><b>{% trans "Case number:" %} {{form.instance.id}}</b></p>
        {% crispy user_form %}
        {% crispy course_form %}
        {% crispy form %}
        <button type="button" class="btn btn-primary" onclick="history.back()">Back</button>
</form>
{% endblock %}
