{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
    <h1>Your Software as a Service Request Form has been deleted!</h1>
    <p>Your approver will be notified of the deletion. If this was done by mistake, please enter a new Saas Request.</p>
    <button type="button" class="btn btn-primary btn-lg" name="home" onclick="location.href='{% url 'home' %}'">Home</button>
{% endblock %}
