{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
    <h1>Thank you for submitting the Software as a Service Request Form!</h1>
    <p>This is the overall process that can be expected.</p>
    <img src="{% static 'saas_app/img/approval_flow.png' %}" alt="Saas Process" width="750">
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" name="home" onclick="location.href='{% url 'home' %}'">Home</button>
{% endblock %}
