{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
{% if status == 'approved' %}
    <h1>{% trans "The Software as a Service Request has been successfully approved" %}</h1>
{% elif status == 'denied' %}
    <h1>{% trans "The Software as a Service Request has been succesfully denied!" %}</h1>
{% endif %}
    <p>{% trans "The person who has submitted the request will be notified." %}</p>
{% endblock %}
