{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Software as a Service form Request" %}{% endblock %}


{% block content %}
<h1>{% trans "Software as a Service Request Submission" %}</h1>
<p>{% blocktrans %} Please approve, deny or request further information from the requestor {% endblocktrans %}</p>
<form method="post" novalidate>
        {% csrf_token %}
        {% crispy form %}
</form>

{% endblock %}
