{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Software as a Service form Request" %}{% endblock %}


{% block content %}
<h1>{% trans "Software as a Service Request Submission" %}</h1>
<p>{% blocktrans %} Please approve, deny or request further information from the requestor {% endblocktrans %}</p>
<form method="post" novalidate>
        {% csrf_token %}
        {% crispy form %}
</form>

<div class="modal fade" id="request_info_modal" tabindex="-1" aria-labelledby="request_info_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="request_info_label">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'approve:send_email' %}"" method="post" novalidate>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" rows="7"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#request_info_modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = "{{ form.submitted_by__email }}"
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
  </script>
{% endblock %}
