
<!DOCTYPE html>
{% load i18n %}
{% load static %}


<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'saas_app/img/favicon.ico' %}"

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700%7CNoto+Sans:400,700&amp;display=fallback" />

    <!-- Style sheets -->
    <link rel="stylesheet" href="{% static 'saas_app/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'saas_app/css/normalize.css' %}">
    
    {% block extra_head %}
    {% endblock %}
  </head>
   {% block body %}
   <body>
      <div class="container">
        <header>
            <div class="page--container">
             <div class="fip-container">
              <div class="canada-flag">
               <img type="image/svg+xml" src="{% static 'saas_app/img/sig-blk-en.svg' %}" alt="Government of Canada" />
              </div>

              <nav class="nav--header" aria-label="Language and account navigation">
              {% get_current_language as CURRENT_LANGUAGE %}
              {% get_available_languages as AVAILABLE_LANGUAGES %}
              {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
               <div class="languages">
              <ul class="languages">
                {% for language in languages %}
                <li>
                   <a href="/{{ language.code }}/{{request.get_full_path|slice:"4:"}}"
                  {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                    {{ language.name_local|title }} 
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
       </nav>
              </div>
             </div>
            <div class="page--container">
            </div>
      </header>
     <main id="content">
       <nav class="nav--main anonymous" aria-label="Product navigation">
        <div class="page--container"></div>
       </nav>
       <div class="page--container" id="page--content" tabindex="-1">
        <div class="content--container">        
         </div> 
         {% block page_content %}
           {% if user.is_authenticated %}
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Switch Roles" %} 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'switch_role' %}?role=Requestor">{% trans "Requestor" %}</a>
                  <a class="dropdown-item" href="{% url 'switch_role' %}?role=Manager">{% trans "Manager" %}</a>
                  <a class="dropdown-item" href="{% url 'switch_role' %}?role=InternalOps">{% trans "Internal Ops" %}</a>
                  <a class="dropdown-item" href="{% url 'switch_role' %}?role=S32Approver">{% trans "S32 Approver" %}</a>
                  <a class="dropdown-item" href="{% url 'switch_role' %}?role=Admin">{% trans "Admin" %}</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>
            </ul>
            <form name="search" class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
              <input name="search" class="form-control mr-sm-2" type="search" placeholder={% trans "Search" %}  aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
            </form>
          </div>
          </nav>
          <br>
          {% endif %}
          {% endblock %}
         {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
              {% elif message.tags == 'success' %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
              {% elif message.tags == 'info' %}
                <div class="alert alert-info alert-dismissable fade show" role="alert">
              {% elif message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissable fade show" role="alert">
              {% endif %}
                <strong>Messages:</strong>
                <ul>
                  <li>{{message}}</li>
                </ul>
              </div>
            {% endfor %}
         {% endif %}
    
         {% block content %} {% endblock %}
        </div>
       </div>
     </main> 
    
    <footer>
      <div class="page--container">
       <div class="footer-links"></div>
        <div class="canada-wordmark"><img type="image/svg+xml" src="{% static 'saas_app/img/wmms-blk.svg' %}" alt="Symbol of the Government of Canada" /></div>
     </div>
    </footer>
  </body>
  {% endblock %}
</html>
