{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1> Welcome to the Saas Procurement App</h1>
{% else %}
    <h1>{% trans "Sass Procurement App" %}</h1>
    <p>{% blocktrans %}You are about to use your Google account to login to
    the Saas procurement app. {% endblocktrans %}</p>
    <form action="{% provider_login_url 'google' %}">
      <input type="submit" value="Login" />
    </form>
  {% endif %}
{% endblock %}
