{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Saas Procurement App" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>{% trans "Welcome" %} {{user|capfirst}}!</h1>
    <p>{% trans "What do you want to do today?" %}</p></br>
    {% if role == "Requestor" %}
      <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5>{% trans "Saas Requests" %}</h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "Submit a SAAS Request" %}</h5>
          <p class="card-text">{% trans "Please fill out this form if you would like to request the purchase of an unclassified software subscription service." %}</p>
          <a href="submit_request" class="btn btn-primary">{% trans "Submit Saas request" %}</a>
        </div>
        </div>
        <br>
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "View your submitted requests" %}</h5>
          <p class="card-text">{% trans "Click here to view all of your submitted SAAS requests." %}</p>
          <a href="submit_request/view" class="btn btn-primary">{% trans "View Saas requests" %}</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <h5>{% trans "Training Requests" %}</h5> 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "Submit a Training Request Form" %}</h5>
          <p class="card-text">{% trans "Please fill out this form if you would like to request training or courses related to your job." %}</p>
          <a href="training_request" class="btn btn-primary">{% trans "Submit training request" %}</a>
        </div>
      </div>
      <br>
       <div class="card">
        <div class="card-body">
          <h5 class="card-title">{% trans "View your submitted training requests" %}</h5>
          <p class="card-text">{% trans "Click here to view all of your submitted training requests." %}</p>
          <a href="training_request/view" class="btn btn-primary">{% trans "View training request" %}</a>
        </div>
      </div>
      </div>
      </div>
    </div>
    <br>
    </div>
    </div>
    </div>
    </div>
    {% elif role == "Manager" %}
    <div class="card">
      <div class="card-header">
        {% trans "Manager Approve/Deny" %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{% trans "Manager - Approve/Deny requests" %}</h5>
        <p class="card-text">{% trans "For manager, click here to approve/deny existing requests." %}</p>
        <a href="approve/view" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
    </div>
    <br>
     <div class="card">
        <div class="card-header">
          {% trans "Manager view previous requests" %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{% trans "View your previously reviewed requests" %}</h5>
          <p class="card-text">{% trans "Click here to view all requests that you have previously reviewed." %}</p>
          <a href="approve/view_prev" class="btn btn-primary">{% trans "Start" %}</a>
        </div>
      </div>
    <br>
    {% elif role == "InternalOps" %}
     <div class="card">
      <div class="card-header">
        {% trans "Internal Ops action required" %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{% trans "View requests that need your action" %}</h5>
        <p class="card-text">{% trans "For internal ops, click here to view requests that require action, such as selecting S32 approver or recording a purchase." %}</p>
        <a href="internal_ops/view" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
          {% trans "Internal Ops view previous requests" %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{% trans "View your previously reviewed requests" %}</h5>
          <p class="card-text">{% trans "Click here to view all requests that you have previously reviewed." %}</p>
          <a href="internal_ops/view_prev" class="btn btn-primary">{% trans "Start" %}</a>
        </div>
      </div>
    <br>
    {% elif role == "S32Approver" %}
    <div class="card">
      <div class="card-header">
        {% trans "S32 Approver" %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{% trans "Approve/Deny requests" %}</h5>
        <p class="card-text">{% trans "For S32 Approver - click here to approve or deny requests." %}</p>
        <a href="approve/view_s32" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        {% trans "S32 Approver view previous requests" %}
      </div>
      <div class="card-body">
      <h5 class="card-title">{% trans "View your previously reviewed requests" %}</h5>
        <p class="card-text">{% trans "Click here to view all requests that you have previously reviewed." %}</p>
        <a href="approve/view_s32_prev" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
      </div>
    {% elif role == "Administrator" %}
       <div class="card">
      <div class="card-header">
        {% trans "Change User's Data" %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{% trans "Change User's Attributes" %}</h5>
        <p class="card-text">{% trans "Add/change user data." %}</p>
        <a href="administration/view" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
    </div>
    <br>
    {% elif role == "ManageSaas" %}
    <div class="card">
      <div class="card-header">
        {% trans "View SAAS logins" %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{% trans "View External SAAS logins" %}</h5>
        <p class="card-text">{% trans "View external SAAS logins that have been executed with a google account." %}</p>
        <a href="manage_saas/view_logs" class="btn btn-primary">{% trans "Start" %}</a>
      </div>
    </div>
    {% endif %}
{% else %}
    <h1>{% trans "Sass Procurement App" %}</h1>
    <p>{% blocktrans %}You are about to use your Google account to login to
    the Saas procurement app. {% endblocktrans %}</p>
    <form action="{% provider_login_url 'google' %}">
      <input type="submit" value="Login" />
    </form>
  {% endif %}
{% endblock %}
