{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}{% trans "Software as a Service form Request" %}{% endblock %}

{% block content %}
<h1>{% trans "Software as a Service Request Form" %}</h1>
<p>{% blocktrans %} To overwrite any changes, make your changes and then press the Save Changes Button. To delete, the Saas Request, press the Delete button {% endblocktrans %}</p>
<form method="post" novalidate>
        {% csrf_token %}
        {% crispy form %}
</form>
{% endblock %}
