asgiref
attrs
black==24.4.1
certifi
cffi
charset-normalizer
click
coverage
cryptography
defusedxml
Django
django-allauth
django-bootstrap-form
exceptiongroup
flake8
gunicorn
idna
iniconfig
mccabe
mypy-extensions
oauthlib
packaging
pathspec
platformdirs
pluggy
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
pytest
python-dotenv
python3-openid
requests
requests-oauthlib
sqlparse
tomli
urllib3
